<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <SoS.Settings.ShowVersionUI>SOS2EXP {0}</SoS.Settings.ShowVersionUI>
    <SoS.Settings.RenderPlanet>Динамічний рендеринг планет</SoS.Settings.RenderPlanet>
    <SoS.Settings.RenderPlanet.Desc>Якщо увімкнено, на карті в космосі буде відображення циклу дня та ночі планети. Вимкніть, якщо є проблеми з продуктивністю.\n\nСтандарт: вимкнено</SoS.Settings.RenderPlanet.Desc>
    
    <SoS.Settings.UI>Налаштування інтерфейсу</SoS.Settings.UI>
    <SoS.Settings.UseSplashScreen>Фон головного меню</SoS.Settings.UseSplashScreen>
    <SoS.Settings.UseSplashScreen.Desc>Якщо увімкнено, RimWorld буде використовувати новий фон SoS2.\n\nПотрібен перезапуск.\nСтандарт: увімкнено</SoS.Settings.UseSplashScreen.Desc>
    <SoS.Settings.PersistShipUI>Відображення інтерфейсу</SoS.Settings.PersistShipUI>
    <SoS.Settings.PersistShipUI.Desc>Якщо увімкнено, енергія та тепло корабля буде відображатися навіть не в бою.\n\nСтандарт: вимкнено</SoS.Settings.PersistShipUI.Desc>
    <SoS.Settings.OffsetUIx>Зсув інтерфейсу по X</SoS.Settings.OffsetUIx>
    <SoS.Settings.OffsetUIx.Desc>Горизонтальне зсування.</SoS.Settings.OffsetUIx.Desc>
    <SoS.Settings.OffsetUIy>Зсув інтерфейсу по Y</SoS.Settings.OffsetUIy>
    <SoS.Settings.OffsetUIy.Desc>Вертикальне зсування.</SoS.Settings.OffsetUIy.Desc>
    
    <SoS.Settings.Misc>Різні налаштування</SoS.Settings.Misc>
    <SoS.Settings.EasyMode>Рятувальні капсули</SoS.Settings.EasyMode>
    <SoS.Settings.EasyMode.Desc>"EasyMode" якщо увімкнено, виключає загибель команди в шатлах від зброї противника.\n\nСтандарт: вимкнено</SoS.Settings.EasyMode.Desc>
    <SoS.Settings.RespectPhysics>Дотримання фізики</SoS.Settings.RespectPhysics>
    <SoS.Settings.RespectPhysics.Desc>При увімкненні ви не зможете запустити шатл на корабель противника, коли його двигуни працюють, і немає посадкового майданчика. Вимкнення цього налаштування дозволить вам приземлятися в будь-якому місці, якщо посадковий майданчик недоступний.\n\nЗа замовчуванням: увімкнено</SoS.Settings.RespectPhysics.Desc>
    <SoS.Settings.ArchoRemove>Видалення архо-тварин</SoS.Settings.ArchoRemove>
    <SoS.Settings.ArchoRemove.Desc>Видаляє архо-тварин, якщо вони з'являються в грі до виконання необхідних умов.\n\nСтандарт: увімкнено</SoS.Settings.ArchoRemove.Desc>
    <SoS.Settings.Debug>Режим розробника</SoS.Settings.Debug>
    <SoS.Settings.Debug.Desc>Відобразить область корабля та список всіх кораблів/уламків на карті. При наведенні миші, буде відображатися додаткова інформація. Також буде більше записів в журналі.\n\nСтандарт: вимкнено</SoS.Settings.Debug.Desc>
    <SoS.Settings.ArchoKill>Загибель архо-тварин</SoS.Settings.ArchoKill>
    <SoS.Settings.ArchoKill.Desc>Якщо спора знищена, всі істоти архотека загинуть.\n\nСтандарт: вимкнено.</SoS.Settings.ArchoKill.Desc>
    <SoS.Settings.ShuttlesToDisplay>Відображення шатлів</SoS.Settings.ShuttlesToDisplay>
    <SoS.Settings.ShuttlesToDisplay.Desc>Максимальна кількість шатлів, що відображаються в бою. Пошкоджені шатли мають пріоритет. Якщо 0, буде відображатися стільки, скільки може вмістити ваш екран.</SoS.Settings.ShuttlesToDisplay.Desc>
    
    <SoS.Settings.ShipMapPhysics>Фізика карти/об'єктів</SoS.Settings.ShipMapPhysics>
    <SoS.Settings.ShipMapPhysics.Desc>Якщо увімкнено, істоти і предмети, що знаходяться не на кораблі під час його руху, будуть мертві. Це також обмежує посадку шатлів. Стандарт: вимкнено.</SoS.Settings.ShipMapPhysics.Desc>
    
    <SoS.Settings.UseVacuumPathfinding>Пошук шляхів</SoS.Settings.UseVacuumPathfinding>
    <SoS.Settings.UseVacuumPathfinding.Desc>Якщо увімкнено, екіпаж без скафандрів буде уникати виходу в відкритий космос. Це може вплинути на сумісність з іншими модами.\n\nПотрібен перезапуск.</SoS.Settings.UseVacuumPathfinding.Desc>
    
    <SoS.Settings.Gameplay>Ігрові налаштування</SoS.Settings.Gameplay>
    <SoS.Settings.DifficultySoS>Складність боїв. Стандарт: {2}. Значення: {3}</SoS.Settings.DifficultySoS>
    <SoS.Settings.DifficultySoS.Desc>Впливає на розмір і силу ворожих кораблів.</SoS.Settings.DifficultySoS.Desc>
    <SoS.Settings.FrequencySoS>Частота боїв. Стандарт: {2}. Значення: {3}</SoS.Settings.FrequencySoS>
    <SoS.Settings.FrequencySoS.Desc>Більше значення означає менший інтервал між боями.</SoS.Settings.FrequencySoS.Desc>
    <SoS.Settings.NavyShipChance>Шанс появи флоту. Стандарт: {2}. Значення: {3}</SoS.Settings.NavyShipChance>
    <SoS.Settings.NavyShipChance.Desc>Як часто можна зустріти флоти в випадкових боях.</SoS.Settings.NavyShipChance.Desc>
    <SoS.Settings.FleetChance>Шанс випадкового флоту. Стандарт: {2}. Значення: {3}</SoS.Settings.FleetChance>
    <SoS.Settings.FleetChance.Desc>Ймовірність того, що випадкові невідомі ворожі кораблі або торговці будуть флотами. Ігнорується при дуже низькому або високому рівні бойової потужності.</SoS.Settings.FleetChance.Desc>
    
    <SoS.Settings.Travel>Налаштування подорожей</SoS.Settings.Travel>
    <SoS.Settings.MinTravelTime>Мінімальний час подорожі. Стандарт: {2}. Значення: {3}</SoS.Settings.MinTravelTime>
    <SoS.Settings.MinTravelTime.Desc>Мінімальна кількість років, що проходять при подорожі до нового світу.</SoS.Settings.MinTravelTime.Desc>
    <SoS.Settings.MaxTravelTime>Максимальний час подорожі. Стандарт: {2}. Значення: {3}</SoS.Settings.MaxTravelTime>
    <SoS.Settings.MaxTravelTime.Desc>Максимальна кількість років, що проходять при подорожі до нового світу.</SoS.Settings.MaxTravelTime.Desc>
    
    <SoS.Settings.Danger>Експериментальні налаштування</SoS.Settings.Danger>
    <SoS.Settings.EnemyMapSize>Розмір карти. Стандарт: {2}. Значення: {3}</SoS.Settings.EnemyMapSize>
    <SoS.Settings.EnemyMapSize.Desc>Налаштування розміру карти. Дозволить флотам з'являтися на великих картах з більш крупними та потужними кораблями при бойовому рейтингу вище 2000.</SoS.Settings.EnemyMapSize.Desc>    


</LanguageData>