<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<SoS.Settings.ShowVersionUI>SOS2EXP {0}</SoS.Settings.ShowVersionUI>
	<SoS.Settings.RenderPlanet>Динамический рендеринг планет</SoS.Settings.RenderPlanet>
	<SoS.Settings.RenderPlanet.Desc>Если включено, на карте в космосе будет отображение цикла дня и ночи планеты. Отключите, если есть проблемы с производительностью.\n\nПо умолчанию: выключено</SoS.Settings.RenderPlanet.Desc>
	
	<SoS.Settings.UI>Настройки интерфейса</SoS.Settings.UI>
	<SoS.Settings.UseSplashScreen>Фон главного меню</SoS.Settings.UseSplashScreen>
	<SoS.Settings.UseSplashScreen.Desc>Если включено, RimWorld будет использовать новый фон SoS2.\n\nНеобходим перезапуск.\nПо умолчанию: включено</SoS.Settings.UseSplashScreen.Desc>
    <SoS.Settings.PersistShipUI>Отображение интерфейса</SoS.Settings.PersistShipUI>
    <SoS.Settings.PersistShipUI.Desc>Если включено, энергия и тепло корабля будет отображаться даже вне боя.\n\nПо умолчанию: выключено</SoS.Settings.PersistShipUI.Desc>
    <SoS.Settings.OffsetUIx>Смещение интерфейса по X</SoS.Settings.OffsetUIx>
    <SoS.Settings.OffsetUIx.Desc>Смещение горизонтали.</SoS.Settings.OffsetUIx.Desc>
    <SoS.Settings.OffsetUIy>Смещение интерфейса по Y</SoS.Settings.OffsetUIy>
    <SoS.Settings.OffsetUIy.Desc>Смещение по вертикали.</SoS.Settings.OffsetUIy.Desc>

	
	<SoS.Settings.Misc>Разные настройки</SoS.Settings.Misc>
    <SoS.Settings.EasyMode>Спасательные капсулы</SoS.Settings.EasyMode>
    <SoS.Settings.EasyMode.Desc>"EasyMode" если включено, исключает гибель команды в шаттлах от орудий противника.\n\nПо умолчанию: отключено</SoS.Settings.EasyMode.Desc>
    <SoS.Settings.RespectPhysics>Соблюдение физики</SoS.Settings.RespectPhysics>
    <SoS.Settings.RespectPhysics.Desc>При включении вы не сможете запустить шаттл на корабль противника, когда его двигатели работают, и нет посадочной площадки. Отключение этой настройки позволит вам приземляться в любом месте, если посадочная площадка недоступна.\n\nПо умолчанию: включено</SoS.Settings.RespectPhysics.Desc>
    <SoS.Settings.ArchoRemove>Убирать архо-животных</SoS.Settings.ArchoRemove>
    <SoS.Settings.ArchoRemove.Desc>Убирает архо-животных, если они появляются в игре до выполнения необходимых условий.\n\nПо умолчанию: включено</SoS.Settings.ArchoRemove.Desc>
    <SoS.Settings.Debug>Режим отладки</SoS.Settings.Debug>
    <SoS.Settings.Debug.Desc>Отобразит область корабля и список всех кораблей/обломков на карте. При наведении мыши, будет отображаться дополнительная информация. Также будет добавлено больше записей в журнал.\n\nПо умолчанию: отключено.</SoS.Settings.Debug.Desc>
    <SoS.Settings.ArchoKill>Гибель архо-животных</SoS.Settings.ArchoKill>
    <SoS.Settings.ArchoKill.Desc>Если спора уничтожена, все существа архотека погибнут. По умолчанию: отключено.</SoS.Settings.ArchoKill.Desc>
    <SoS.Settings.ShuttlesToDisplay>Отображение шаттлов</SoS.Settings.ShuttlesToDisplay>
    <SoS.Settings.ShuttlesToDisplay.Desc>Максимальное количество шаттлов, отображаемых в бою. Поврежденные шаттлы имеют приоритет. Если 0, будет отображаться столько, сколько может вместить ваш экран.</SoS.Settings.ShuttlesToDisplay.Desc>

    <SoS.Settings.ShipMapPhysics>Физика карты/обьектов</SoS.Settings.ShipMapPhysics>
	<SoS.Settings.ShipMapPhysics.Desc>Если включено, существа и предметы, находящиеся не на корабле во время его движения будут мертвы. Это также ограничивает посадку шаттлов. По умолчанию: отключено.</SoS.Settings.ShipMapPhysics.Desc>
	
    <SoS.Settings.UseVacuumPathfinding>Поиск путей</SoS.Settings.UseVacuumPathfinding>
    <SoS.Settings.UseVacuumPathfinding.Desc>Если включено, экипаж без скафандров будут избегать выхода в открытый космос. Это может повлиять на совместимость с другими модами.\n\nНеобходим перезапуск.</SoS.Settings.UseVacuumPathfinding.Desc>
	
    <SoS.Settings.Gameplay>Игровые настройки</SoS.Settings.Gameplay>
    <SoS.Settings.DifficultySoS>Сложность сражений. Стандарт: {2}. Значение: {3}</SoS.Settings.DifficultySoS>
    <SoS.Settings.DifficultySoS.Desc>Влияет на размер и силу вражеских кораблей.</SoS.Settings.DifficultySoS.Desc>
    <SoS.Settings.FrequencySoS>Частота сражений. Стандарт: {2}. Значение: {3}</SoS.Settings.FrequencySoS>
    <SoS.Settings.FrequencySoS.Desc>Более высокое значение означает меньший интервал между сражениями.</SoS.Settings.FrequencySoS.Desc>
    <SoS.Settings.NavyShipChance>Шанс появления флота. Стандарт: {2}. Значение: {3}</SoS.Settings.NavyShipChance>
    <SoS.Settings.NavyShipChance.Desc>Как часто можно встретить флоты в случайных сражениях.</SoS.Settings.NavyShipChance.Desc>
    <SoS.Settings.FleetChance>Шанс случайного флота. Стандарт: {2}. Значение: {3}</SoS.Settings.FleetChance>
    <SoS.Settings.FleetChance.Desc>Вероятность того, что случайные неизвестные вражеские корабли или торговцы будут флотами. Игнорируется при очень низком или высоком уровне боевой мощи.</SoS.Settings.FleetChance.Desc>
    
    <SoS.Settings.Travel>Настройки путешествия</SoS.Settings.Travel>
    <SoS.Settings.MinTravelTime>Мин время путешествия. Стандарт: {2}. Значение: {3}</SoS.Settings.MinTravelTime>
    <SoS.Settings.MinTravelTime.Desc>Минимальное количество лет, проходящих при путешествии в новый мир.</SoS.Settings.MinTravelTime.Desc>
    <SoS.Settings.MaxTravelTime>Макс время путешествия. Стандарт: {2}. Значение: {3}</SoS.Settings.MaxTravelTime>
    <SoS.Settings.MaxTravelTime.Desc>Максимальное количество лет, проходящих при путешествии в новый мир.</SoS.Settings.MaxTravelTime.Desc>
    
    <SoS.Settings.Danger>Экспериментальные настройки</SoS.Settings.Danger>
    <SoS.Settings.EnemyMapSize>Размер карты. Стандарт: {2}. Значение: {3}</SoS.Settings.EnemyMapSize>
    <SoS.Settings.EnemyMapSize.Desc>Переопределение размера карты. Позволит флотам появляться на больших картах с более крупными и мощными кораблями при боевом рейтинге выше 2000.</SoS.Settings.EnemyMapSize.Desc>


</LanguageData>